# Ignore version control directories and files
.git
.gitignore

# Ignore Docker and Compose files not needed in the image
Dockerfile
docker-compose*.yml
run.sh

# Ignore documentation
README.md

# Ignore logs and temporary files
logs_temp/
iot_telemetry.csv

# Ignore Python cache files
__pycache__
*.pyc

# Optionally ignore environment files if not required
.env
